html, body{
	height: 100%
}

body{
	height: 100%;
    border-color: white;
    border-style: solid;
    border-width: 15px;
}

#img {
	display: block;
  	background-image: url("assets/bg.jpg");
  	background-repeat: no-repeat;
  	height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;    
    position: absolute;
}

img{
    max-width: 100%;

}

#logo img{
    margin-top: 20px;
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    margin-left: 20px;
    height: 60px;
}

#message {
    cursor: pointer;
    float: right;
    position: relative;
    background-color: rgba(62, 68, 89, 0.9);
    color: rgba(248, 250, 255, 0.99);
    margin-top: 20px;
    margin-right: 20px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

#message i {
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    font-size: 30px;
    text-align: center;
}